@use "styles/_macros.scss" as *;
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //   shadow
  background: var(--white);
  box-shadow: 0px 3px 16px #0000000a;
  opacity: 0.9;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  height: $header-height;
  //  position fixed
  position: fixed;
  top: 0;
  // z-index
  z-index: 100;

  // break point for mobile
  @media (max-width: $breakpoint-mobile) {
    height: 60px;
  }
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: $context-width;
  padding-left: 20px;
  padding-right: 20px;
  // break point
  @media (max-width: $breakpoint-web) {
    width: 100%;
  }

  img {
    @media (max-width: $breakpoint-mobile) {
      width: 70%;
    }
  }
}

.headerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //   texts are only one line
  white-space: nowrap;

  //   links
  a {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    // no line
    text-decoration: none;
    // no color change
    color: var(--text-blue);
    font-family: $font-secondary;
    font-weight: $fw-medium;
    letter-spacing: 0px;

    // for mobile, hide links
    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
}
