@use "sass:color";

$font-secondary: "Open Sans", sans-serif;

$header-height: 88px;
$header-width: 1160px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-title: 72px;
$fs-large: 48px;
$fs-big: 24px;
$fs-medium: 20px;
$fs-small: 16px;
