@use "sass:color";

// space grotesk
$font-secondary: "Open Sans", sans-serif;

$breakpoint-web: 1160px;
$breakpoint-mobile: 768px;

$header-height: 88px;
$context-width: 1160px;

$home-height: 772px;
$border-radius-large: 30px;
$border-radius-medium: 20px;
$border-radius-small: 5px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;

$fs-title: 72px;
$fs-large: 48px;
$fs-big: 36px;
$fs-big-medium: 28px;
$fs-medium: 20px;
$fs-small: 16px;
$fs-tiny: 12px;

$card-shadow: 0px 0px 59px #00000075;
$card-width: 542px;

@mixin panel {
  //   sharp shadow
  box-shadow: 0px 3px 16px #0000000a;
  opacity: 0.8;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
