@use "styles/_macros.scss" as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--background-color);
}

.openPositions {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $header-height;

  background-image: url("/dummies/Launch2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  background-position-y: 100%;
  background-position-x: 30%;

  // on web breakpoint
  @media (max-width: calc($breakpoint-web + 40px)) {
    background-position-x: 50%;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
  }

  .openPositionsContainer {
    display: flex;
    flex-direction: row;
    width: $context-width;
    // padding left and right
    padding: 0 20px;
    padding-top: 60px;

    // on web breakpoint
    @media (max-width: calc($breakpoint-web + 40px)) {
      flex-direction: column;
      align-items: center;
    }

    // on web breakpoint
    @media (max-width: calc($breakpoint-web + 40px)) {
      flex-direction: column;
      align-items: center;
    }

    .leftContainer {
      display: flex;
      flex-direction: column;

      @media (max-width: calc($breakpoint-web + 40px)) {
        align-items: center;
        margin-bottom: 20px;
      }

      h1 {
        white-space: nowrap;
        font-family: $font-secondary;
        font-size: $fs-big;
        font-weight: $fw-medium;
        margin-bottom: 60px;
        color: var(--text-blue);

        // on web breakpoint
        @media (max-width: $breakpoint-web) {
          font-size: $fs-big-medium;
          margin-bottom: 20px;
        }
      }

      .positions {
        width: calc(100% + 40px);
        margin-left: -20px;
        display: flex;
        flex-direction: column;
        align-items: left;

        .position {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          // border offset
          padding: 10px 2px;
          margin-bottom: 2px;
          gap: 20px;
          background: none;
          border: 1px solid transparent;
          border-radius: $border-radius-large;

          .positionTitle {
            font-family: $font-secondary;
            font-size: $fs-small;
            font-weight: $fw-medium;
            color: var(--text-blue);
            margin-left: 20px;
          }
          cursor: pointer;
          &:hover {
            transition: 0.3s;
            box-shadow: 0px 0px 8px 0px rgba(38, 153, 251, 0.52);
            border: 1px solid var(--blue);
          }

          //   on hover increase the shadow
          &:not(:hover) {
            transition: 0.3s;
          }
          .newContainer {
            // new tag
            background: var(--text-blue);
            padding: 4px 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: $border-radius-medium;

            span {
              font-family: $font-secondary;
              font-size: $fs-tiny;
              color: var(--background-color);
            }
          }
        }
        .positionSelected {
          border: 1px solid var(--blue);
        }
      }

      .positionNavigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-top: 80px;
        @media (max-width: calc($breakpoint-web + 40px)) {
          margin-top: 20px;
        }

        .positionNavigationButton {
          display: flex;
          flex-direction: row;
          align-items: center;
          background: none;
          border: none;
          cursor: pointer;

          // hover animation
          &:hover {
            transition: 0.3s;
            transform: scale(1.1);
          }

          &:not(:hover) {
            transition: 0.3s;
          }
        }
        .positionIndexContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;

          @media (max-width: calc($breakpoint-web + 40px)) {
            gap: 4px;
          }

          .positionIndex {
            font-family: $font-secondary;
            font-size: $fs-tiny;
            font-weight: $fw-medium;
            color: var(--text-blue-light);
            background: none;
            border: none;
            cursor: pointer;
            width: 36px;
            height: 36px;
            border-radius: 50%;

            @media (max-width: calc($breakpoint-web + 40px)) {
              width: 30px;
              height: 30px;
            }

            &:hover {
              font-size: $fs-small;
              font-weight: $fw-bold;
            }
          }

          .positionIndexSelected {
            color: var(--text-white);
            background: var(--blue);
          }
        }
      }
    }

    .rightContainer {
      // inclue panel mixin
      @include panel;
      background: var(--white);
      margin-left: 120px;
      padding: 40px;
      border-radius: $border-radius-medium;

      // on web breakpoint
      @media (max-width: calc($breakpoint-web + 40px)) {
        width: calc(100vw - 40px);
        padding: 20px;
        margin-left: 0;
      }

      // on hover, increase the shadow
      &:hover {
        transition: 0.3s;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      }

      &:not(:hover) {
        transition: 0.3s;
      }
      .online {
        width: fit-content;
        background: var(--blue);
        color: var(--white);
        font-family: $font-secondary;
        font-size: $fs-tiny;
        font-weight: $fw-medium;
        padding: 4px 12px;
        border-radius: $border-radius-medium;
        user-select: none;
        margin-bottom: 20px;
      }

      h1 {
        font-size: $fs-big-medium;
        font-weight: $fw-medium;
        color: var(--text-blue);
        margin-bottom: 20px;
        font-family: $font-secondary;
      }

      h2 {
        font-size: $fs-medium;
        font-weight: $fw-medium;
        color: var(--text-blue);
        margin-bottom: 20px;
        font-family: $font-secondary;
      }

      p {
        font-size: $fs-small;
        font-weight: $fw-regular;
        color: var(--text-blue);
        margin-bottom: 20px;
      }

      .applyContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .applyButton {
          background: none;
          color: var(--text-blue);
          font-family: $font-secondary;
          font-size: $fs-small;
          font-weight: $fw-medium;
          padding: 8px 16px;
          border-radius: $border-radius-medium;
          user-select: none;
          cursor: pointer;
          border: 1px solid var(--text-blue);
          // hover animation
          &:hover {
            transition: 0.3s;
            background: var(--text-blue);
            color: var(--white);
          }
          &:not(:hover) {
            transition: 0.3s;
          }
        }
      }
    }
  }
}
